<p class="menu-label">Platform</p>
<ul class="menu-list">
    <li><a href="{% url 'quiz:dashboard' %}"><span class="icon is-small"><i class="fa fa-chart-line"></i></span><span class="menu-text">Dashboard</span></a></li>
    <li><a href="{% url 'accounts:user_monitoring' %}"><span class="icon is-small"><i class="fa fa-users"></i></span><span class="menu-text">Users</span></a></li>
</ul>
<p class="menu-label">Content</p>
<ul class="menu-list">
    <li><a href="{% url 'courses:admin-course-dashboard' %}"><span class="icon is-small"><i class="fa fa-graduation-cap"></i></span><span class="menu-text">Courses</span></a></li>
    <li><a href="{% url 'quiz:admin_exam_list' %}"><span class="icon is-small"><i class="fa fa-file-alt"></i></span><span class="menu-text">Exams</span></a></li>
    <li><a href="{% url 'quiz:question_dashboard' %}"><span class="icon is-small"><i class="fa fa-question-circle"></i></span><span class="menu-text">Questions</span></a></li>
</ul>
<p class="menu-label">Business</p>
<ul class="menu-list">
    <li><a href="{% url 'quiz:subscription_admin_panel' %}"><span class="icon is-small"><i class="fa fa-credit-card"></i></span><span class="menu-text">Subscriptions</span></a></li>
    <li><a href="{% url 'quiz:admin_payment_list' %}"><span class="icon is-small"><i class="fa fa-rupee-sign"></i></span><span class="menu-text">Payments</span></a></li>
</ul>
<p class="menu-label">System</p>
<ul class="menu-list">
    <li><a href="{% url 'quiz:notifications_list' %}"><span class="icon is-small"><i class="fa fa-bell"></i></span><span class="menu-text">Notifications</span></a></li>
</ul>
