<aside id="site-sidebar" class="site-sidebar">
  <nav class="menu">

    <p class="menu-label">General</p>
    <ul class="menu-list">

      <li>
        {% if user.is_authenticated %}
          <a href="{% if not is_from_course %}{% url 'quiz:dashboard' %}{% else %}javascript:void(0);{% endif %}"
             class="{% if is_from_course %}is-disabled{% endif %}"
             {% if is_from_course %}title="Disabled during course practice"{% endif %}>
            <i class="fa fa-home"></i> Dashboard
          </a>
        {% else %}
          <a href="{% if not is_from_course %}{% url 'pages:home' %}{% else %}javascript:void(0);{% endif %}"
             class="{% if is_from_course %}is-disabled{% endif %}"
             {% if is_from_course %}title="Disabled during course practice"{% endif %}>
            <i class="fa fa-home"></i> Home
          </a>
        {% endif %}
      </li>

      <li>
        <a href="{% if not is_from_course %}{% url 'quiz:exam_list' %}{% else %}javascript:void(0);{% endif %}"
           class="{% if is_from_course %}is-disabled{% endif %}"
           {% if is_from_course %}title="Disabled during course practice"{% endif %}>
          <i class="fa fa-book"></i> Exams
        </a>
      </li>

      <li>
        <a href="{% if not is_from_course %}{% url 'quiz:practice' %}{% else %}javascript:void(0);{% endif %}"
           class="{% if is_from_course %}is-disabled{% endif %}"
           {% if is_from_course %}title="Disabled during course practice"{% endif %}>
          <i class="fa fa-pen-to-square"></i> Practice (Basic)
        </a>
      </li>

      <li>
        <a href="{% if not is_from_course %}{% url 'quiz:practice_express' %}{% else %}javascript:void(0);{% endif %}"
           class="{% if is_from_course %}is-disabled{% endif %}"
           {% if is_from_course %}title="Disabled during course practice"{% endif %}>
          <i class="fa fa-bolt"></i> Practice (Express)
        </a>
      </li>

    </ul>

    {% if user.is_authenticated %}
      <p class="menu-label">Account</p>
      <ul class="menu-list">
        <li>
          <a href="{% if not is_from_course %}{% url 'quiz:profile' %}{% else %}javascript:void(0);{% endif %}"
             class="{% if is_from_course %}is-disabled{% endif %}"
             {% if is_from_course %}title="Disabled during course practice"{% endif %}>
            <i class="fa fa-user"></i> Profile
          </a>
        </li>
      </ul>
    {% endif %}

    {# ================= ORGANIZATION ADMIN ================= #}
    {% if user.is_authenticated and request.active_org and request.org_role == "org_admin" %}

      <p class="menu-label">Organization</p>
      <ul class="menu-list">
        <li>
          <a href="{% if not is_from_course %}{% url 'organizations_admin:dashboard' %}{% else %}javascript:void(0);{% endif %}"
             class="{% if is_from_course %}is-disabled{% endif %}"
             {% if is_from_course %}title="Disabled during course practice"{% endif %}>
            <i class="fa fa-building"></i>
            Org Dashboard
          </a>
        </li>
      </ul>

    {% endif %}

  </nav>
</aside>
