<aside id="admin-sidebar" class="admin-sidebar">
  <nav class="menu is-size-7">

    <!-- ================= DASHBOARD ================= -->
    <p class="menu-label">Dashboard</p>
    <ul class="menu-list">
      <li>
        <a href="{% url 'quiz:dashboard' %}">
          <span class="icon is-small">
            <i class="fa fa-chart-line"></i>
          </span>
          <span class="menu-text">Dashboard</span>
        </a>
      </li>
    </ul>

    <!-- ================= USERS ================= -->
    <p class="menu-label">Users</p>
    <ul class="menu-list">
      <li>
        <a href="{% url 'accounts:user_monitoring' %}">
          <span class="icon is-small">
            <i class="fa fa-users"></i>
          </span>
          <span class="menu-text">User Monitoring</span>
        </a>
      </li>
    </ul>

    <!-- ================= CONTENT ================= -->
    <p class="menu-label">Content</p>
    <ul class="menu-list">

      <li>
        <a href="{% url 'quiz:admin_exam_list' %}">
          <span class="icon is-small">
            <i class="fa fa-file-alt"></i>
          </span>
          <span class="menu-text">Exams</span>
        </a>
      </li>

      <li>
        <a href="{% url 'quiz:admin_track_list' %}">
          <span class="icon is-small">
            <i class="fa fa-layer-group"></i>
          </span>
          <span class="menu-text">Tracks</span>
        </a>
      </li>

      <li>
        <a href="{% url 'quiz:question_dashboard' %}">
          <span class="icon is-small">
            <i class="fa fa-question-circle"></i>
          </span>
          <span class="menu-text">Questions</span>
        </a>
      </li>

    </ul>

    <!-- ================= REVENUE ================= -->
    <p class="menu-label">Revenue</p>
    <ul class="menu-list">

      <li>
        <a href="{% url 'quiz:subscription_admin_panel' %}">
          <span class="icon is-small">
            <i class="fa fa-credit-card"></i>
          </span>
          <span class="menu-text">Subscriptions</span>
        </a>
      </li>

      <li>
        <a href="{% url 'quiz:admin_payment_list' %}">
          <span class="icon is-small">
            <i class="fa fa-rupee-sign"></i>
          </span>
          <span class="menu-text">Payments</span>
        </a>
      </li>

      <li>
        <a href="{% url 'quiz:admin_coupon_list' %}">
          <span class="icon is-small">
            <i class="fa fa-ticket"></i>
          </span>
          <span class="menu-text">Coupons</span>
        </a>
      </li>

    </ul>


     <!-- ================= MOCK ================= -->
    <p class="menu-label">Mock</p>
    <ul class="menu-list">
      <li>
        <a href="{% url 'quiz:admin_mock_attempts' %}">
          <span class="icon is-small">
            <i class="fa fa-users"></i>
          </span>
          <span class="menu-text">Mock Reset</span>
        </a>
      </li>
    </ul>


    <!-- ================= Org ================= -->
    <p class="menu-label">Org</p>
    <ul class="menu-list">
      <li>
        <a href="{% url 'organizations_admin:dashboard' %}">
          <span class="icon is-small">
            <i class="fa fa-users"></i>
          </span>
          <span class="menu-text">Org</span>
        </a>
      </li>
    </ul>


     <!-- ================= Course ================= -->
    <p class="menu-label">Course</p>
    <ul class="menu-list">
      <li>
        <a href="{% url 'courses:instructor_dashboard' %}">
          <span class="icon is-small">
            <i class="fa fa-users"></i>
          </span>
          <span class="menu-text">Course</span>
        </a>
      </li>
    </ul>


      <!-- ================= Student Dashboard ================= -->
    <p class="menu-label">Student Dashboard</p>
    <ul class="menu-list">
      <li>
        <a href="{% url 'quiz:student_dashboard' %}">
          <span class="icon is-small">
            <i class="fa fa-users"></i>
          </span>
          <span class="menu-text">Student Dashboard</span>
        </a>
      </li>
    </ul>

  </nav>
</aside>
