{% extends "organizations/admin/base.html" %}

{% block content %}

{% with org_slug=request.organization.slug %}
<h2 class="title is-4">➕ Add Student</h2>

<form method="post">
  {% csrf_token %}

  <div class="field">
    <label class="label">User Email</label>
    <div class="control">
      <input class="input" type="email" name="email" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Role</label>
    <div class="control">
      <div class="select">
        <select name="role">
          <option value="student">Student</option>
          {% if request.organization_member.role != "staff" %}
            <option value="staff">Staff</option>
          {% endif %}
        </select>
      </div>
    </div>
  </div>

  <button class="button is-success">Add</button>
  <a href="{% url 'organizations_admin:students' slug=org_slug %}" class="button is-light">Cancel</a>
</form>
{% endwith %}
{% endblock %}
