{% extends "layouts/base.html" %}
{% block content %}

<section style="max-width:480px;margin:20px auto;">
  <div class="card-surface" style="padding:20px;">
    <h1 class="title is-4">Set New Password</h1>

    {% if error %}
      <div class="notification is-danger">{{ error }}</div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <input class="input" name="otp" placeholder="OTP" required>
      <input class="input" type="password" name="password" placeholder="New password" required>
      <input class="input" type="password" name="confirm_password" placeholder="Confirm password" required>

      <button class="button is-primary" style="margin-top:10px;">
        Reset Password
      </button>
    </form>
  </div>
</section>

{% endblock %}
